<div class="leftmenu-v2">


    <div class="leftmenu-v2-item <%= active_class('/') %>">
      <%= link_to root_path do %>
        <div class="left-menu-svg-container" style="background-image: url(<%= asset_path "bonplan.svg" %>)"></div>
        <div class="left-menu-text">Bons plans</div>
      <% end %>
    </div>

    <div class="leftmenu-v2-item <%= active_class('/business') %>">
      <%= link_to business_path do %>
        <div class="left-menu-svg-container" style="background-image: url(<%= asset_path "association.svg" %>)"></div>
        <div class="left-menu-text">Associations</div>
      <% end %>
    </div>

    <div class="leftmenu-v2-item <%= active_class('/dashboard') %>">
      <%= link_to dashboard_path do %>
        <div class="left-menu-svg-container" style="background-image: url(<%= asset_path "dashboard.svg" %>)"></div>
        <div class="left-menu-text">Dashboard</div>
      <% end %>
    </div>

    <div class="leftmenu-v2-item <%= active_class('/perk') %>">
      <%= link_to perk_path do %>
        <div class="left-menu-svg-container" style="background-image: url(<%= asset_path "ambassadeur.svg" %>)"></div>
        <div class="left-menu-text">Ambassadeur</div>
      <% end %>
    </div>


</div>
