<div class="dashboard-fullpage">



  <div class="new-filters-container">

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon">
        <div class="filters-photo-container" style="background-image: url(<%= asset_path "allcategories.svg" %>)"></div>
      </div>
      <div class="filters-text">TOUTES LES CATEGORIES</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon">
        <div class="filters-photo-container" style="background-image: url(<%= asset_path "beauteetbienetre.svg" %>)"></div>
      </div>
      <div class="filters-text">BEAUTE ET BIEN-ETRE</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon">
        <div class="filters-photo-container" style="background-image: url(<%= asset_path "commercant.svg" %>)"></div>
      </div>
      <div class="filters-text">COMMERCANT</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon">
        <div class="filters-photo-container" style="background-image: url(<%= asset_path "ecommerce.svg" %>)"></div>
      </div>
      <div class="filters-text">E-COMMERCE</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon">
        <div class="filters-photo-container" style="background-image: url(<%= asset_path "lieuxdevie.svg" %>)"></div>
      </div>
      <div class="filters-text">LIEU DE VIE</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon">
        <div class="filters-photo-container" style="background-image: url(<%= asset_path "loisirs.svg" %>)"></div>
      </div>
      <div class="filters-text">LOISIRS</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon">
        <div class="filters-photo-container" style="background-image: url(<%= asset_path "maisonetjardin.svg" %>)"></div>
      </div>
      <div class="filters-text">MAISON ET JARDIN</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon">
        <div class="filters-photo-container" style="background-image: url(<%= asset_path "marcheetepicerie.svg" %>)"></div>
      </div>
      <div class="filters-text">MARCHE ET EPICERIE</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon">
        <div class="filters-photo-container" style="background-image: url(<%= asset_path "restauration.svg" %>)"></div>
      </div>
      <div class="filters-text">RESTAURATION</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon">
        <div class="filters-photo-container" style="background-image: url(<%= asset_path "santeetbienetre.svg" %>)"></div>
      </div>
      <div class="filters-text">SANTE ET BIEN-ETRE</div>
    </div>

    <div class="filters-icon-plus-text-container">
      <div class="filters-icon">
        <div class="filters-photo-container" style="background-image: url(<%= asset_path "shopping.svg" %>)"></div>
      </div>
      <div class="filters-text">SHOPPING</div>
    </div>

  </div>



</div>
